{% extends 'core/base_search.html' %}

{% block left_buttons %}
    <a href="{% url 'task_create' %}" class="btn btn-success">
        <i class="glyphicon glyphicon-plus"></i>
        Add
    </a>
{% endblock left_buttons %}

{% block table_heads %}
    <th>Template</th>
    <th>Created</th>
    <th>Playbook</th>
    <th>Status</th>
    <th>Hosts</th>
    <th>Groups</th>
    <th>Duration</th>
    <th></th>
{% endblock table_heads %}

{% block table_row %}
    <td>
        {% if object.template %}
            <a href="{% url 'task_template_update' object.template.id %}">{{ object.template.name }}</a>
        {% else %}
            -
        {% endif %}
    </td>
    <td><a href="{% url 'task_log' object.id %}">{{ object.dc }}</a></td>
    <td>{{ object.get_playbook_name }}</td>
    <td>{% include 'core/task/status_label.html' with task=object %}</td>
    <td>{{ object.hosts.count }}</td>
    <td>{{ object.host_groups.count }}</td>
    <td>{{ object.get_duration|default:'unknown' }}</td>
    <td>
        {% if object.status == 'in_progress' or object.status == 'wait' %}
            <a href="{% url 'task_stop' object.id %}" data-toggle="tooltip" data-placement="left" title="Stop task">
                <i class="fa fa-stop" style="color: red"></i>
            </a>
        {% else %}
            <a href="{% url 'task_replay' object.id %}" data-toggle="tooltip"  data-placement="left" title="Replay">
                <i class="fa fa-play" style="color: green"></i>
            </a>
        {% endif %}
    </td>
{% endblock table_row %}