{% load bootstrap3 %}

<div>
    <div class="row">
        <div class="col-sm-6">
            <button onclick="addForm()" type="button" class="btn btn-success btn-sm" data-toggle="tooltip"
                    data-placement="top" title="Add new variable"><i class="glyphicon glyphicon-plus"></i>
            </button>
            <b style="font-size: 18px">Variables</b></div>
        <div class="col-sm-6 text-right">
            <button onclick="deleteAllForms()" type="button" class="btn btn-danger btn-sm" data-toggle="tooltip"
                    data-placement="left" title="Remove all variables for this host"><i
                    class="glyphicon glyphicon-trash"></i> Delete all
            </button>
        </div>
    </div>
    <br>

    {{ formset.management_form }}

    <div class="hide">
        <div class="row variable" id="empty_form">
            <div class="col-sm-5">{% bootstrap_field formset.empty_form.name layout='horizontal' %}</div>
            <div class="col-sm-5">{% bootstrap_field formset.empty_form.value layout='horizontal' %}</div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-danger btn-block btn-sm"
                        onclick="deleteElem($(this).parents('.row.variable'))"
                        data-toggle="tooltip" data-placement="top" title="Remove this variable">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            </div>
        </div>
    </div>

    <div id="variables">
        {% for f in formset %}
            <div class="row variable">
                <div class="hide">{{ f.id }}</div>
                <div class="col-sm-5">{% bootstrap_field f.name layout='horizontal' %}</div>
                <div class="col-sm-5">{% bootstrap_field f.value layout='horizontal' %}</div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-danger btn-block btn-sm"
                            onclick="deleteElem($(this).parents('.row.variable'))"
                            data-toggle="tooltip" data-placement="top" title="Remove this variable">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="deleted-variables" class="hide"></div>
</div>