{% extends 'core/base.html' %}
{% load bootstrap3 %}

{% block container %}
    <form action="" method="POST">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        {% bootstrap_formset_errors formset %}

        <div class="row">
            <div class="col-sm-6">
                {% if object %}
                    <a href="{% url 'host_group_delete' object.id %}" class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash"></i>
                        Delete
                    </a>
                {% endif %}
            </div>
            <div class="col-sm-6 text-right">
                <button type="submit" class="btn btn-success" data-toggle="tooltip" data-placement="top">
                    <i class="glyphicon glyphicon-floppy-save"></i>
                    {{ object|yesno:'Update, Create' }}
                </button>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-sm-12">
                {% bootstrap_field form.name layout='horizontal' %}
                {% bootstrap_field form.hosts layout='horizontal' %}
            </div>
        </div>

        <br>
        {% include 'core/variables/includes/variables_formset.html' %}

    </form>
{% endblock container %}

{% block js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}core/js/variables.js"></script>
    <script src="{{ STATIC_URL }}core/js/show_value.js"></script>
{% endblock js %}