{% extends 'core/base_search.html' %}

{% block left_buttons %}
    <a href="{% url 'host_group_create' %}" class="btn btn-success">
        <i class="glyphicon glyphicon-plus"></i>
        Add
    </a>
{% endblock left_buttons %}

{% block table_heads %}
    <th>Name</th>
    <th>Hosts</th>
    <th>Variables</th>
{% endblock table_heads %}

{% block table_cols %}
    <td><a href="{% url 'host_group_update' object.id %}">{{ object.name}}</a></td>
    <td>{{ object.hosts.count }}</td>
    <td>{{ object.vars.count }}</td>
{% endblock table_cols %}