{% extends 'core/base.html' %}

{% block container %}
    <form action="" method="POST">
        {% csrf_token %}
        <div style="margin-top: 50px">
            <h4>Do you really want to delete "{{ object }}" ?</h4>
            <div>
                <a href="{{ next_url }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-arrow-left"></i>
                    Back
                </a>
                <button type="submit" class="btn btn-danger" {% if error %}disabled{% endif %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    Yes
                </button>
            </div>
        </div>
    </form>
{% endblock container %}