{% extends 'core/base.html' %}

{% block container %}
    <div class="row">
        <div class="col-sm-3">
            <ul class="nav nav-pills nav-stacked" id="index_menu">

                <li role="presentation"><a href="{% url 'task_template_search' %}">
                    <i class="fa fa-list-ol"></i>
                    Task Templates</a>
                </li>
                <li role="presentation"><a href="{% url 'task_search' %}">
                    <i class="fa fa-tasks"></i>
                    Tasks</a>
                </li>

                <li role="presentation"><a href="{% url 'host_search' %}">
                    <i class="fa fa-tv"></i>
                    Hosts</a></li>
                <li role="presentation"><a href="{% url 'host_group_search' %}">
                    <i class="fa fa-folder-o"></i>
                    Host Groups</a>
                </li>
                <li role="presentation"><a href="{% url 'ansible_user_search' %}">
                    <i class="fa fa-group"></i>
                    Ansible Users</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9">
            {% if tasks %}
                <div id="tasks">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>Template</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ task.template }}</td>
                                <td><a href="{% url 'task_log' task.id %}">{{ task.dc }}</a></td>
                                <td>
                                    {% include 'core/task/status_label.html' with task=task %}
                                </td>
                                <td>
                                    {% if task.status == 'wait' or task.status == 'in_progress' %}
                                    <a href="{% url 'task_stop' task.id %}" data-toggle="tooltip" data-placement="left" title="Stop task">
                                        <i class="fa fa-stop" style="color: red"></i>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="alert alert-info">
                    No running tasks
                </div>
            {% endif %}
        </div>
    </div>
{% endblock container %}