{% extends 'core/base.html' %}

{% block container %}
    <div class="row">
        <div class="col-sm-3">
            <ul class="nav nav-pills nav-stacked" id="index_menu">
                <li role="presentation"><a href="{% url 'host_search' %}">
                    <i class="fa fa-tv"></i>
                    Hosts</a></li>
                <li role="presentation"><a href="{% url 'host_group_search' %}">
                    <i class="fa fa-folder-o"></i>
                    Host Groups</a>
                </li>
                <li role="presentation"><a href="{% url 'task_template_search' %}">
                    <i class="fa fa-list-ol"></i>
                    Task Templates</a>
                </li>
                <li role="presentation"><a href="{% url 'task_search' %}">
                    <i class="fa fa-tasks"></i>
                    Tasks</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9">
            {# TODO Tasks information #}
            {% if tasks %}
                <h4>Count: {{ tasks.count }}</h4>
                <div id="tasks">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>Time</th>
                                <th>Status</th>
                                <th>Log</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ task.dc }}</td>
                                <td>
                                    <span class="label label
                                        {% if task.status == 'completed' %}
                                            label-success
                                        {% elif task.status == 'fail' %}
                                            label-danger
                                        {% elif task.status == 'in_progress' %}
                                            label-primary
                                        {% elif task.status == 'stopped' %}
                                            label-default
                                        {% elif task.status == 'wait' %}
                                            label-warning
                                        {% endif %}
                                    ">{{ task.status }}</span>
                                </td>
                                <td><a href="#{# TODO to task log url #}" class="btn btn-default" data-toggle="tooltip"
                                    data-placement="left" title="Show log for this task">
                                    <i class="fa fa-terminal"></i>
                                </a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="alert alert-info">
                    No running tasks
                </div>
            {% endif %}
        </div>
    </div>
{% endblock container %}