{% extends 'core/base.html' %}

{% block container %}
    <div class="row">
        <div class="col-sm-6">
            <a href="" class="btn btn-default btn-lg btn-block">Hosts</a>
            <a href="" class="btn btn-default btn-lg btn-block">Groups</a>
        </div>
        <div class="col-sm-6">
            {# TODO Tasks information #}
            <div class="alert alert-info">
                No running tasks
            </div>
            <div class="text-right">
                <a href="" class="btn btn-info">
                    Show all tasks
                    <i class="glyphicon glyphicon-arrow-right"></i>
                </a>
            </div>

        </div>
    </div>
{% endblock container %}