body{
    background-color: #f1f1f1;
}

.container{
    background-color: rgba(255, 255, 255, 0.89);
    padding: 10px;
    border-radius: 3px;
}

.navbar-default{
    border-radius: 0;
    background-color: #2382bc;
    border: none;
}

.navbar-default .navbar-text{
    color: white;
}

.navbar-default .navbar-brand{
    color: white;
    font-weight: bold;
}
.navbar-default .navbar-brand:hover{
    color: rgba(255, 255, 255, 0.77);
}

.navbar-default .navbar-nav li a{
    color: white;
}

.navbar-default .navbar-nav li a:hover{
    color: rgba(255, 255, 255, 0.77);
}

.navbar-default .navbar-nav li a:focus{
    color: rgba(255, 255, 255, 0.77);
}

.navbar-default .navbar-nav li:active{
    color: rgba(255, 255, 255, 0.77);
}

.navbar-default .dropdown-menu li a{
    color: black;
}
.navbar-default .dropdown-menu li a:hover{
    color: black;
}


.head-breadcrumbs{
    margin: 7px 0 0 0 ;
    background-color: #1c638c;
}

.head-breadcrumbs a{
    color: white;
    font-weight: bold;
}

.head-breadcrumbs .active{
    color: white;
}
#bottom_brand{
    padding: 10px;
}

