body{
    background-color: #f1f1f1;
}

.navbar-default .navbar-nav li a,
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus,
.navbar-default .navbar-nav li:active{
    color: white;
}

.navbar-default .dropdown-menu li a,
.navbar-default .dropdown-menu li a:hover{
    color: black;
}

.navbar-default .nav .open .dropdown-toggle:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand:focus,
.navbar-default .nav > li > a:focus,
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:active,
#index_menu li:hover a{
    color: white;
    background-color: #1c638c;
}

.custom-container{
    margin: 0 50px;
}

.white-container{
    background-color: rgba(255, 255, 255, 0.89);
    padding: 10px;
    border-radius: 3px;
}

.navbar-default{
    border-radius: 0;
    background-color: #2382bc;
    border: none;
}

.navbar-default .navbar-text{
    color: white;
}

.navbar-default .navbar-brand{
    color: white;
    font-weight: bold;
}
.navbar-default .navbar-brand:hover{
    color: rgb(255, 255, 255);
}

.head-breadcrumbs{
    margin: 7px 0 0 0 ;
    background-color: #1c638c;
}

.head-breadcrumbs a{
    color: white;
    font-weight: bold;
}
#index_menu a,
.head-breadcrumbs .active{
    color: white;
}
#bottom_brand{
    padding: 10px;
}

#index_menu {
    background-color: #2382bc; border-radius: 5px
}

#actual_hosts, #tasks{
    max-height: 300px;
    overflow: auto;
}

.console{
    padding: 10px;
    border-radius: 5px;
    background-color: black;
    color: white;
    max-height: 500px;
    min-height: 500px;
    overflow: auto;
}

.console .line{
    margin: 0;
}

.log-wait{
    color: gray;
}

.log-completed{
    /*font-weight: bold;*/
    color: green;
}

.log-fail{
    /*font-weight: bold;*/
    color: red;
}

.log-stopped{
    /*font-weight: bold;*/
    color: yellow;
}

.search-from .form-group label, .edit-form .form-group label {
    padding-top: 5px;
}
.search-from .buttons-row {
    margin-top: 5px;
}

.label-link:hover {
    text-decoration: none
}