body{
    background-color: #f1f1f1;
}

.navbar-default .navbar-nav li a,
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus,
.navbar-default .navbar-nav li:active{
    color: white;
}

.navbar-default .dropdown-menu li a,
.navbar-default .dropdown-menu li a:hover{
    color: black;
}

.navbar-default .nav .open .dropdown-toggle:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand:focus,
.navbar-default .nav > li > a:focus,
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:active,
#index_menu li:hover a{
    color: white;
    background-color: #1c638c;
}

.white-container{
    background-color: rgba(255, 255, 255, 0.89);
    padding: 10px;
    border-radius: 3px;
}

.navbar-default{
    border-radius: 0;
    background-color: #2382bc;
    border: none;
}

.navbar-default .navbar-text{
    color: white;
}

.navbar-default .navbar-brand{
    color: white;
    font-weight: bold;
}
.navbar-default .navbar-brand:hover{
    color: rgb(255, 255, 255);
}

.head-breadcrumbs{
    margin: 7px 0 0 0 ;
    background-color: #1c638c;
}

.head-breadcrumbs a{
    color: white;
    font-weight: bold;
}
#index_menu a,
.head-breadcrumbs .active{
    color: white;
}
#bottom_brand{
    padding: 10px;
}

#index_menu {
    background-color: #2382bc; border-radius: 5px
}

#actual_hosts, #tasks{
    max-height: 300px;
    overflow: auto;
}