{% extends 'core/base.html' %}
{% load bootstrap3 %}

{% block container %}
    <form action="" method="POST" class="edit-form">
        {% csrf_token %}

        <div class="row">
            <div class="col-sm-3">
                {% if object %}
                    <a href="{% url 'task_template_delete' object.id %}" class="btn btn-danger btn-block">
                        <i class="glyphicon glyphicon-trash"></i>
                        Delete
                    </a>
                {% endif %}
            </div>

            <div class="col-sm-3 col-sm-offset-3">
                {% if object %}
                    {% if object.get_actual_hosts.exists %}
                        <a class="btn btn-success btn-block" href="{% url 'task_template_run' object.id %}"
                                data-toggle="tooltip" data-placement="left" title="Create and run new task">
                            <i class="fa fa-play"></i>
                            RUN
                        </a>
                    {% else %}
                        <button class="btn btn-success btn-block" disabled="disabled">
                            <i class="fa fa-play"></i>
                            RUN (No hosts)
                        </button>
                    {% endif %}
                {% endif %}
            </div>

            <div class="col-sm-3">
                <button type="submit" class="btn btn-success btn-block" data-toggle="tooltip" data-placement="top">
                    <i class="glyphicon glyphicon-floppy-save"></i>
                    {{ object|yesno:'Update, Create' }}
                </button>
            </div>
        </div>

        <div class="row" style="margin-top: 5px">
            <div class="{% if object %}col-sm-6{% else %}col-sm-12{% endif %}">

                <div class="row" style="margin-bottom: 5px">
                    <div class="col-sm-12">
                        {% bootstrap_form_errors form %}
                        {% bootstrap_formset_errors formset %}
                        {% bootstrap_field form.name layout='horizontal' %}
                        {% bootstrap_field form.ansible_user layout='horizontal' %}
                        {% bootstrap_field form.playbook layout='horizontal'%}
                        {% bootstrap_field form.hosts layout='horizontal' %}
                        {% bootstrap_field form.host_groups layout='horizontal' %}
                        {% bootstrap_field form.description  layout='horizontal' %}
                        {% if object %}
                            {% bootstrap_field form.cron layout='horizontal' field_class='col-md-7'%}
                            <div class="col-md-2">
                                <a id="repeat-setting" href="{% url 'task_template_repeat_settings' object.pk %}"
                                   class="btn btn-default btn-block" data-toggle="tooltip" title="Fail Repeat settings. Current: {{ repeat_count }}">
                                    <i class="glyphicon glyphicon-cog"></i>
                                </a>
                            </div>
                        {% else %}
                            {% bootstrap_field form.cron layout='horizontal' %}
                        {% endif %}
                    </div>
                </div>

                {% include 'core/variables/includes/variables_formset.html' %}
            </div>
            {% if object %}
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6"><h4>Actual hosts</h4></div>
                        <div class="col-sm-6" style="text-align: right">
                            <h4>
                                <a href="{% url 'task_template_inventory' object.id %}" target="_blank">
                                    Inventory
                                </a>
                            </h4>
                        </div>
                    </div>

                    {% if object.get_actual_hosts %}
                        <div id="actual_hosts">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>№</th>
                                    <th>Host</th>
                                    <th>Vars</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for host in object.get_actual_hosts %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td><a href="{% url 'host_update' host.id %}" target="_blank">{{ host.address }}</a></td>
                                        <td>
                                            {% for var in host.vars.all %}
                                                <span class="label label-default">
                                                    {{ var }}
                                                </span>
                                            {% empty %}
                                                -
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        No actual hosts
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>Tasks</h4>
                        </div>
                        <div class="col-sm-6 text-right">
                            <a href="{% url 'task_search' %}?template={{ object.id }}">Search tasks</a>
                        </div>
                    </div>
                    {% if object.tasks.all %}
                        <div id="tasks">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Time</th>
                                        <th>Duration</th>
                                        <th>Status</th>
                                        <th>Log</th>
                                        <th>Inv.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for task in last_tasks %}
                                    <tr>
                                        <td>{{ task.id }}</td>
                                        <td>{{ task.dc|date:"d-m-Y H:i:s" }}</td>
                                        <td>{{ task.get_duration|default:'Unknown' }}</td>
                                        <td>{% include 'core/task/status_label.html' %}</td>
                                        <td><a href="{% url 'task_log' task.id %}" class="btn btn-default"
                                               data-toggle="tooltip" data-placement="left" title="Show log for this task">
                                            <i class="fa fa-terminal"></i>
                                        </a></td>
                                        <td>
                                            <a class="btn btn-default" href="{% url 'task_inventory' task.id %}" target="_blank"
                                                data-toggle="tooltip" data-placement="left" title="task inventory file">
                                                <i class="fa fa-external-link"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        No tasks
                    {% endif %}

                </div>
            {% endif %}
        </div>
    </form>
{% endblock container %}

{% block js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}core/js/variables.js"></script>
{% endblock js %}