{% extends 'core/base_search.html' %}

{% block left_buttons %}
    <a href="{% url 'task_template_create' %}" class="btn btn-success">
        <i class="glyphicon glyphicon-plus"></i>
        Add
    </a>
{% endblock left_buttons %}

{% block table_heads %}
    <th>Name</th>
    <th>Description</th>
    <th>Last status</th>
    <th>Hosts</th>
    <th>Groups</th>
    <th>Playbook</th>
    <th>Duration</th>
    <th>Last start</th>
    <th></th>
{% endblock table_heads %}

{% block table_row %}
    {% with object.tasks.last as last_task %}
        <td><a href="{% url 'task_template_update' object.id %}">{{ object.name }}</a></td>
        <td>{{ object.description|default:'-'|truncatechars:20 }}</td>
        <td>{% include 'core/task/status_label.html' with task=last_task %}</td>
        <td>{{ object.hosts.count }}</td>
        <td>{{ object.host_groups.count }}</td>
        <td>{{ object.get_playbook_name }}</td>
        <td>{{ last_task.get_duration|default:'Unknown' }}</td>
        <td>{{ last_task.dc|date:"d-m-Y H:i:s"|default:'Unknown' }}</td>
        <td>
            {% if object.get_actual_hosts.exists %}
            <a href="{% url 'task_template_run' object.id %}" data-toggle="tooltip" data-placement="left" title="Run">
                <i class="fa fa-play"></i>
            </a>
            {% endif %}
        </td>
    {% endwith %}
{% endblock table_row %}