{% load ansible_tag %}

<div class="raw">
    <div class="col-sm-1">
        <select class="form-control custom-paginate">
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="-1">all</option>
        </select>
    </div>
    {% if is_paginated %}
    <div class="col-sm-10" style="text-align: center">
        <ul class="pagination text-center" style="margin: 0">
            {% if page_obj.has_previous %}
                <li><a href="?{% url_replace request 'page' 1 %}"> &laquo; </a></li>
                <li><a href="?{% url_replace request 'page' page_obj.previous_page_number %}"> &lsaquo; </a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li class="page-item">
                        {% if i == 1 %}
                            <a class="active" href="?{% url_replace request 'page' i %}">{{ i }}</a>
                        {% else %}
                            {% if i|add:"-2" <= page_obj.number and page_obj.number <= i|add:"2" %}
                                <a href="?{% url_replace request 'page' i %}">{{ i }}</a>
                            {% elif forloop.last or forloop.counter < 30 %}
                                {% if i|divisibleby:"10" %}
                                    <a href="?{% url_replace request 'page' i %}">{{ i }}</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li><a href="?{% url_replace request 'page' page_obj.next_page_number %}"> &rsaquo; </a></li>
                <li><a href="?{% url_replace request 'page' page_obj.paginator.num_pages %}"> &raquo; </a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
</div>